{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}

<script type="text/javascript">
(function() {

YAHOO.util.Dom.addClass(document.body, 'yui-skin-sam');
var makeRich = function(id, height) {
    (new YAHOO.widget.Editor(id, {height: height, width: '700px', markup: 'xhtml', handleSubmit: true})).render();
    window.setTimeout(function() { YAHOO.util.Dom.setStyle(id + '_container', 'margin-left', '108px'); }, 200);
};
makeRich('id_excerpt', '200px');
makeRich('id_body', '500px');

})();
</script>
{% endblock %}
