{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}

<link href="http://yui.yahooapis.com/combo?2.6.0/build/assets/skins/sam/skin.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.6.0/build/yahoo-dom-event/yahoo-dom-event.js&2.6.0/build/container/container_core-min.js&2.6.0/build/menu/menu-min.js&2.6.0/build/element/element-beta-min.js&2.6.0/build/button/button-min.js&2.6.0/build/editor/editor-min.js"></script>
<script type="text/javascript">
(function() {

YAHOO.util.Dom.addClass(document.body, 'yui-skin-sam');
var makeRich = function(id, height) {
    (new YAHOO.widget.Editor(id, {height: height, width: '700px', markup: 'xhtml', handleSubmit: true})).render();
    window.setTimeout(function() { YAHOO.util.Dom.setStyle(id + '_container', 'margin-left', '108px'); }, 200);
};
makeRich('id_excerpt', '200px');
makeRich('id_body', '500px');

})();
</script>
{% endblock %}
