{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}

<script type="text/javascript">wmd_options = { autostart: false };</script>
<script type="text/javascript" src="/media/blog-entries/wmd/wmd.js"></script>
<script type="text/javascript">
var makeWmd = function(id, height) {
    var textArea = document.getElementById(id);
    textArea.style.height = height;
    var previewDiv = document.createElement('div');
    textArea.parentNode.appendChild(previewDiv);

    /***** build the preview manager *****/
    var panes = {input:textArea, preview:previewDiv, output:null};
    var previewManager = new Attacklab.wmd.previewManager(panes);

    /***** build the editor and tell it to refresh the preview after commands *****/
    var editor = new Attacklab.wmd.editor(textArea,previewManager.refresh);
}
makeWmd('id_excerpt', '200px');
makeWmd('id_body', '500px');
</script>
{% endblock %}
